<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
	<ul class="main_nav row list-unstyled">
		<li class="nav-item pt-2 active"><a class="nav-" href="/">Trang chủ  <span class="sr-only">(current)</span></a></li>
		<li class="nav-item pt-2"><a class="nav-" href="/IELTS/trial">Thi thử</a></li>
		<li class="nav-item pt-2"><a class="nav-" href="/courses/index">Các khóa học</a></li>
		<li class="nav-item pt-2"><a class="nav-" href="/Home/contact">Liên hệ</a></li>
		<li class="nav-item pt-2 d-none">
			<div class="dropdown">
				<div class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user text-sm text-dark" style="font-size:20px;"></i>
				</div>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="/Account/Userprofile">Hồ sơ của tôi</a></li>
					<li><a class="dropdown-item" href="/Student/Enroll">Khóa học của tôi</a></li>
					<li><a class="dropdown-item" href="/Student/Examination">Bài thi của tôi</a></li>
				</ul>
			</div>
		</li>
		<li>

		</li>

	</ul>
	<style>
		span.notification-badge {
			position: relative;
			top: -10px;
			right: 10px;
			border: $white 1px solid;
			border-radius: 30%;
		}
	</style>
</div>
