@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Layouts/_AdminIELTSTestingLayout.cshtml";
}
<link href="~/ielts/ieltstesting.css" rel="stylesheet" />
<link href="~/ielts/listening/audio.css" rel="stylesheet" />
<!-- Thêm jQuery và jQuery UI -->
<link href="~/ielts/dropbox-question.css" rel="stylesheet" />

<style>
    /* Tùy chỉnh thanh cuộn */
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    ::-webkit-scrollbar-corner {
        background: #f1f1f1;
    }

    /* Đoạn nội dung có thanh cuộn */
    .scrollable-content {
        height: 300px;
        overflow-y: scroll;
        padding: 10px;
        background: #e2e2e2;
    }

    /* Firefox */
    .scrollable-content {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }
</style>
<div class="container-fluid">
    @* Tab csontent *@
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row justify-content-center px-5" style="height:65vh; box-sizing:border-box;">
                <div class="col-md-12 mx-4 border border-dark px-0 rounded">

                    <div class="scrollspy-example px-3" style="overflow-y:scroll; height:65vh;" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">
                        <div class="row">
                            
                        </div>
                    </div>

                    
                </div>
            </div>
            @* paging *@
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-3">
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-1">1<i class="fas fa-check text-success ms-1"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-2">2<i class="fas fa-check text-success ms-1"></i></a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-3">3</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-4">4</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-5">5</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-6">6</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-7">7</a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row justify-content-center px-5" style="height:65vh; box-sizing:border-box;">
                <div class="col-md-12 mx-4 border border-dark px-0 rounded">

                    <div class="scrollspy-example px-3" style="overflow-y:scroll; height:65vh;" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">
                        <div class="row">
                        </div>
                    </div>


                </div>
            </div>
            @* paging *@
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-3">
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-1">1<i class="fas fa-check text-success ms-1"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-2">2<i class="fas fa-check text-success ms-1"></i></a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-3">3</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-4">4</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-5">5</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-6">6</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-7">7</a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row justify-content-center px-5" style="height:65vh; box-sizing:border-box;">
                <div class="col-md-12 mx-4 border border-dark px-0 rounded">

                    <div class="scrollspy-example px-3" style="overflow-y:scroll; height:65vh;" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" tabindex="0">
                        <div class="row">
                        </div>
                    </div>


                </div>
            </div>
            @* paging *@
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-3">
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-1">1<i class="fas fa-check text-success ms-1"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-2">2<i class="fas fa-check text-success ms-1"></i></a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-3">3</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-4">4</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-5">5</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-6">6</a>

                    </li>
                    <li class="page-item">
                        <a class="list-group-item list-group-item-action bg-white text-dark" href="#list-item-7">7</a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="p-3 border border-secondary-subtle border- rounded-1 bg-secondary bg-opacity-25 position-absolute bottom-0 start-0 " style="width:100vw;">
    <div class="d-flex justify-content-end">
        <div class="mx-2 w-100">
            <div class="row justify-content-end">
                <div class="col-1">
                    <button id="btn-start" class="btn btn-warning">Start</button>
                </div>
                <div class="col-1">
                    <span id="currentTime">00:00</span> / <span id="duration">00:00</span>
                </div>
                <div class="col-10">
                    <progress id="progressBar" value="0" max="100"></progress>
                </div>
            </div>
            @* <label class="">Âm lượng: <input id="volumeSlider" type="range" min="0" max="1" step="0.1" value="1"></label> *@
        </div>
        <div class="mx-2">
            <button class="btn volume-container">
                <div class="volume-container">
                    <i class="fas fa-volume-up volume-icon"></i>
                    <input type="range"
                           class="volume-slider"
                           id="volumeSlider"
                           min="0"
                           max="1"
                           step="0.1"
                           value="0.5" />
                </div>
            </button>
        </div>
        <div class="mx-2"><button id="btnSubmit" class="btn btn-success">Submit</button></div>
        @* <div class="mx-2"><button id="btnExit" class="btn btn-danger">Exit</button></div> *@
    </div>
</div>

@* audio player *@
<audio id="audioPlayer">
    <source id="listeningFileURL" type="audio/mpeg">
    Trình duyệt của bạn không hỗ trợ thẻ âm thanh.
</audio>

<script src="~/ielts/listening/audio.js"></script>
<script src="~/ielts/admin/render-listening.js"></script>
<script src="~/ielts/dropbox-question.js"></script>