@{
	ViewData["Title"] = "Truy cập bị từ chối!";

}
@* font be Vietnam pro *@

<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	<style>

		/*======================
							404 page
						=======================*/
		body {
			font-family: "Be Vietnam Pro", serif;
			font-weight: 300;
			font-style: normal;
		}

		.page_404 {
			padding: 40px 0;
			background: #fff;
		}

			.page_404 img {
				width: 100 %;
			}

		.four_zero_four_bg {
			background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
			height: 400px;
			background-position: center;
		}


			.four_zero_four_bg h1 {
				font-size: 80px;
			}

			.four_zero_four_bg h3 {
				font-size: 80px;
			}

		.link_404 {
			color: #fff !important;
			padding: 10px 20px;
			background: #39ac31;
			margin: 20px 0;
			display: inline - block;
		}

		.contant_box_404 {
			margin-top: -50px;
		}

		a {
			text-decoration: none;
		}
	</style>
</head>
<body>
	<section class="page_404">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<div class="col-sm-10 col-sm-offset-1  text-center">
						<div class="four_zero_four_bg">
							<div class="text-center" style="font-size: 100px; ">404</div>
						</div>

						<div class="contant_box_404">
							<h3 class="h2">
								Opps!
							</h3>

							<p>Không tìm thấy dữ liệu bạn muốn tìm!</p>

							<a href="/" class="link_404" style="border-radius:20px; margin-right:10px;" Trang chủ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>